<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsTSsmv4w71KpRl_odHtMzkrPVzFhatmI</string>
	<key>GCM_SENDER_ID</key>
	<string>1079397085734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nibm.IOS-Expense-Tracking-App</string>
	<key>PROJECT_ID</key>
	<string>expense-tracking-app-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>expense-tracking-app-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079397085734:ios:03cf4db6d8bfed3cea2ce7</string>
</dict>
</plist>